.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error {
  color: red;
}

.form {
  background-color: rgb(236, 236, 236);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 3rem;
  box-sizing: border-box;
  width: 550px
}

.fieldset {
  padding: 2rem 4rem;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.button {
  padding: 0.5rem 1.2rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: white;
}
.button:hover {
  opacity: 0.9;
}
.primary {
  background-color: rgb(46 114 249);
}
.info {
  background-color: #33b5e5;
}

.full-width {
  width: 100%;
}
